{% extends "base.html" %}

{% block content %}
<h1>The second Arcminute Microkelvin Imager -- Large Array Gamma-ray burst radio afterglow catalogue</h1>
<p> <i>Abstract</i> <br>
Radio observations of gamma-ray burst afterglows provide insight in to the different emitting regions within the jet, 
    its hydrodynamics and burst environment. In this paper, we present the second iteration of the Arcminute Microkelvin Imager -- 
    Large Array (AMI--LA) Gamma-ray burst (GRB) radio afterglow catalog. The catalog consists of 1035 observations of 210 bursts. 
    Our observations range from 0.04 to 900days post-burst. We detect radio emission associated with 41 events with flux densities
    spanning 0.1-40mJy, and present a detailed analysis of six events whose light curves have not been published elsewhere. In our 
    individual afterglow analyses, we find that our radio counterparts show evidence of reverse shock emission 60% of the time. 
    Two of the detected afterglows show evidence of scintillation which we use to place source size limits at tens of days. Of the
    whole catalog, 50 events have redshift measurements which we use to find the radio afterglow luminosity distribution for our sample. 
    Our luminosity distribution spans five orders of magnitude, a larger range than seen in optical and X-ray bands, indicative of the 
    strong dependence of the radio counterparts on the GRB's physical parameters.  <br>

<p><i>List of Authors</i> <br>
    Lauren Rhodes, Trottier Space Institute at McGill, 3550 Rue University, Montreal, Quebec H3A 2A7, Canada <br>
    Dinah Ibrahim, Trottier Space Institute at McGill, 3550 Rue University, Montreal, Quebec H3A 2A7, Canada <br>
    Nisrine Sqalli, Trottier Space Institute at McGill, 3550 Rue University, Montreal, Quebec H3A 2A7, Canada <br>
    Gemma E. Anderson, Australia Telescope National Facility, CSIRO, Space and Astronomy, PO Box 1130, Bentley, WA 6151, Australia <br>
    Rob Fender, Astrophysics, Department of Physics, University of Oxford, Keble Road, Oxford OX1 3RH, UK <br>
    Alexander J. van der Horst, Department of Physics, the George Washington University, 725 21st Street NW, Washington, DC 20052, USA <br>
    Joe S. Bright, Astrophysics, Department of Physics, University of Oxford, Keble Road, Oxford OX1 3RH, UK <br>
    Andrew K. Hughes, Astrophysics, Department of Physics, University of Oxford, Keble Road, Oxford OX1 3RH, UK <br>
    David R.A. Williams-Baldwin, Jodrell Bank Centre for Astrophysics, School of Physics and Astronomy, The University of Manchester, Manchester, M13 9PL, UK <br>
    David A. Green, Cavendish Laboratory, University of Cambridge, J.~J. Thomson Ave., Cambridge, CB3 0US, UK <br>
    Daryl Haggard, Trottier Space Institute at McGill, 3550 Rue University, Montreal, Quebec H3A 2A7, Canada <br>
    Assaf Horesh, Racah Institute of Physics, The Hebrew University of Jerusalem, Jerusalem 91904, Israel <br>
    Kunal P. Mooley, Indian Institute Of Technology Kanpur, Kanpur, Uttar Pradesh 208016, India <br>
    Yvette Perrott, School of Chemical and Physical Sciences, Victoria University of Wellington, PO Box 600, Wellington 6140, New Zealand <br>
    Paul Scott, Cavendish Laboratory, University of Cambridge, J.~J. Thomson Ave., Cambridge, CB3 0US, UK <br>
    Tim Staley, Astrophysics, Department of Physics, University of Oxford, Keble Road, Oxford OX1 3RH, UK <br>
    David J. Titterington, Cavendish Laboratory, University of Cambridge, J.~J. Thomson Ave., Cambridge, CB3 0US, UK <br>
</p>
{% endblock %}
