{% extends "base.html" %}

{% block content %}
<h1>The second Arcminute Microkelvin Imager -- Large Array Gamma-ray burst radio afterglow catalogue</h1>
<p> <i>Abstract</i> <br>
We present the second iteration of the Arcminute Microkelvin Imager -- Large Array (AMI--LA) Gamma-ray burst (GRB) radio afterglow catalog. <br>

sentence about AMI--LA; rapid response until COVID-10 <br>

The catalog consists of 1035 observations of 210 bursts. Our observations range of 0.04 to 900 days post-burst. 
We detect 19 events in total with flux densities spanning 0.1-40mJy, 
and present a detailed analysis of six events whose light curves have not been published elsewhere. <br>

Sentence about findings <br>

sentence about luminosities?</p>

<p><i>List of Authors</i> <br>
    Lauren Rhodes, Trottier Space Institute, McGill University,<br>
    Dinah Ibrahim, Trottier Space Institute, McGill University,<br>
    Nisrine Sqalli, Trottier Space Institute, McGill University,<br>
    Rob Fender, Oxford University
</p>
{% endblock %}